body{
  background-color: #424242;
}


.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0 auto;
}

.readContainer{
  width: 75%;
}

.flexColumn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  display: inline-block;
  text-align: left;
}
.musicBox{
  width: 50%;
}
/*CSS Animation*/
.spin{
  animation: App-logo-spin infinite 20s linear;
  margin: 0 auto;
  
}
.stroke{
  animation: dash infinite 5s linear;
}

/*Animations for all logos*/
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }

}

/*Spiral Animations*/
@keyframes dash{
  to{
    stroke-dashoffset: 1000;
  }
}

/*Emotion Colors*/

.Anger{
  color: #FC4012;
}
.Disgust{
  color: #529E32;
}
.Fear{
  color: #915AB5;
}
.Joy{
  color: #FBD81A;
}
.Sadness{
  color: #325FC6;
}
.Tempo{
  color: #45EA22;
}
.Energy{
  color: #F6ED60;
}

/*Search Results*/

.transparent{
  position: absolute;
  width: 64px;
  height: 64px;
  left: 7px;
  top: 7px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 58% 50%;
  border-radius: 500px;
  cursor: pointer;
}


.searchBar{
  border: 2px solid black;
  border-left-style: none;
  border-right-style: none;
  background-color: #424242;
  color: white;
}

.searchButton{
  border: 2px solid black;
  border-left-style: none;
  background-color: #424242;
  color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.searchForm{
  padding-bottom: 1vh;
}
